/* Start Global Style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #7a00dc, #2CF8C1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.register {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #333;
}

.register form {
    max-width: 600px;
    margin: auto;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"],
.form-group textarea,
.form-group select,
.form-group input[type="date"],
.form-group input[type="number"],
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}

.form-group select {
    appearance: none;
    -webkit-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="#555" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-position: right 10px top 50%;
    background-repeat: no-repeat;
    padding-right: 30px;
    background-color: #fff;
}

.form-group input[type="file"] {
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #9526a9;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #7d1c86;
}

.mensaje-error {
    color: #d32f2f;
    font-size: 14px;
    margin-top: 5px;
}

p {
    margin-top: 20px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #9526a9;
    transition: color 0.3s ease;
}

a:hover {
    color: #7d1c86;
}
