<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bot.css') }}">
</head>
<body>
  <div class="container">
    <div id="chat-box">
      <div id="chat-container">
        <div class="user-message">Hola</div>
        <div class="bot-message">Hola, ¿cómo puedo ayudarte?</div>
      </div>
      <div id="input-container">
        <input type="text" id="user-input" placeholder="Escribe tu mensaje...">
        <button id="send-button">Enviar</button>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/bot.js') }}"></script>
</body>
</html>
