<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error de Inicio de Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/Logos/Logo.ico') }}">
</head>
<body>
    <h1>Error de Inicio de Sesiónp</h1>
    <p>Las credenciales proporcionadas son incorrectas. Por favor, inténtalo de nuevo.</p>
    <a href="/">Volver a la página de inicio</a>
</body>
</html>