<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/General/premium.css') }}">
    <title>Document</title>
</head>
<body>
    <div class='container'>
        <div class='window'>
          <div class='order-info'>
            <div class='order-info-content'>
              <h1>Resumen del pedido</h1>
              <h2></h2>
              <h2>Anuncio</h2>

                      <div class='line'></div>
              <table class='order-table'>
                <tbody>
                  <tr>
      
                  </tr>
                  <tr>
                    <td>
                      <div class='price'>20.000</div>
                    </td>
                  </tr>
                </tbody>
      
              </table>
              <div class='line'></div>
              <table class='order-table'>
               
              </table>
              <div class='line'></div>
              <table class='order-table'>
              </table>
              <div class='line'></div>
              <div class='total'>
                <span style='float:left;'>
                  TOTAL
                </span>
                <span style='float:right; text-align:right;'>
                  $20.000
                </span>
              </div>
      </div>
      </div>
              <div class='credit-info'>
                <div class='credit-info-content'>
                  <table class='half-input-table'>
                    <tr><td>Seleccione metodo de pago: </td>
                        <td><div class='dropdown' id='card-dropdown'></td></tr>
                            <select>
                                <option value="nequi">Nequi</option>
                                <option value="visa">Visa</option>
                                <option value="pse">Pse</option>
                            </select>
                        </div>
                      <div class='dropdown-select'>
                  </table>
                  <img src="{{ url_for('static', filename='img/nequi.png') }}" height='80' class='credit-card-image' id='credit-card-image'>
                  <p>Numero Tarjeta</p>
                  <input class='input-field'></input>
                  <p>Nombre en la tarjeta</p>
                 
                  <input class='input-field'></input>
                  <table class='half-input-table'> 
                    <tr>
                      <td> Fecha de vencimiento
                        <input class='input-field'></input>
                      </td>
                      <td>CVC
                        <input class='input-field'></input>
                      </td>
                    </tr>
                  </table>
                  <button class='pay-btn'>Comprar</button>
      
                </div>
      
              </div>
            </div>
      </div>
</body>
</html>