  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=" ../../Static/css/General/EdPerfil.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/General/EdPerfil.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
      <div id="usuario">
        <div id="encabezado">{% block user %}
            {% endblock %}
            <div id="Estado" style="display: none;"> {% block estado %}
              {% endblock %}</div>
          
        </div>
        
        <div id="sontainer">
    
          <div id="form">
            {% block form %}

           


            {% endblock %}

          </div>
          </div>
          <div class="info">
            <div id="imagenperfil">
              {% block imagen %}
              {%endblock%}
              </div>
              

              <div class="pieimagen">
                <div class="username">{% block nombre %}
                  {% endblock %}</div>
                  <div class="username">{% block apellido %}
                    {% endblock %}</div>
                  <div class="correo">{% block correo %}
                    {% endblock %}</div>
                    <div class="editprofile">
                      {% block editprofile %}
                    {% endblock %}
                    </div>
                
              </div>
          </div>
        
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/General/PlantillaEdPerfil.js') }}">
    
    </script>


</body>
</html>