<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Admin/Aprobarp.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/Logos/Logo.ico') }}">
</head>
<body>
<div class="container">
    <h1 class="text-center">Lista de Usuarios</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for e in emprendimientos %}
            <tr>
                <td>{{ e.id_emprendimiento }}</td>
                <td>{{ e.nombre }}</td>
                <td>{{ e.descripcion }}</td>
                <td>{{ e.miembros }}</td>
                <td>{{ e.nombre_miembros }}</td>
                <td>
                    <a href="{{ url_for('aceptar', user_id=e.id_emprendimiento) }}" class="btn btn-primary">Aceptar</a>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
