<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Admin/IndexAdmin.css') }}">
</head>
<body>
    <header>
         <nav>
            <span class="logo">AGLAIA</span>
            <ul>
                <li> <a href="#Home">HOME</a></li>
                <li> <a href="#Editor">EDITOR</a></li>
                <li> <a href="#Plantilla">PLANTILLAS</a></li>
                <li> <a href="#Precio">PRECIOS</a></li>
                <li> <a href="/Login">LOG IN</a></li>
                <li> <a href="#Registro">SIGN IN</a></li>
                
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="GestionP"><h3>Gestion de perfiles</h3></div>
        <div class="AprobarA"> <h3>Aprobar proyectos</h3></div>
        <div class="AprobarP"><h3>Aprobar anuncios</h3></div>
        <div class="Editor"><h3>Editor anuncios</h3></div>
        <div class="Premium"><h3>Version premium</h3></div>


    </div>
</body>
</html>