/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, #7a00dc, #2CF8C1);
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    padding: 30px 35px;
    box-shadow: 0 5px 10px rgba(126, 6, 148, 0.7);
    border-radius: 15px;
    z-index: 2;
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    margin: 10px;
}

form .title {
    color: #252525;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

form label {
    margin-bottom: 35px;
}

form label .fa-solid {
    font-size: 20px;
    color: #7A00DC;
    margin-right: 10px;
}

form label input {
    outline: none;
    border: none;
    color: #252525;
    border-bottom: solid 1px #7A00DC;
    padding: 0 5px;
    font-size: 18px;
}

form label input::placeholder {
    color: rgba(37, 37, 37, 0.5);
}

form .link {
    color: #252525;
    margin-bottom: 15px;
}

form button {
    color: #fff;
    border: none;
    background: linear-gradient(to right, #7A00DC, #2CF8C1);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
}

.emp {
    max-width: 100%;
    height: auto;
    flex: 1;
    min-width: 200px;
    max-width: 400px;
    margin: 10px;
}

/* Media Queries */
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    form {
        max-width: 100%;
    }

    .emp {
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    .emp {
        max-width: 70%;
    }
}

@media (max-width: 480px) {
    form .title {
        font-size: 28px;
    }

    form label .fa-solid {
        font-size: 18px;
    }

    form label input {
        font-size: 16px;
    }

    form button {
        font-size: 18px;
    }

    .emp {
        max-width: 80%;
    }
}