<!-- templates/editar_emprendimiento.html -->
{% extends "General/PlantillaEdPerfil.html" %}

{% block user %}
<h1>Editar Perfil</h1>
    {{ user_name }}
{% endblock %}

{% block empresa %}
    {{ user_group }}
{% endblock %}



{% block form %}
<form method="POST"  action="/EditarEmp" enctype="multipart/form-data">
    <div class="etiqueta">
    <label for="nombre" >Nombre</label>
    <p>{{ usuario[0] }}</p>
    <input type="checkbox">
    <input type="text" id="nombre" name="nombre" value="{{ usuario[0] }}" class="ver oculto"><br><br>
    </div>
    
    




    <div class="etiqueta">
    <label for="descripcion">Descripción</label>
    <p>{{ usuario[1] }}</p>
    <input type="checkbox">
    <textarea id="descripcion" name="descripcion" class="ver oculto"  value="{{ usuario[1] }}"></textarea><br><br>
    </div>







    <div class="etiqueta" >
        <label for="fecha_inicio">Fecha de Inicio</label>
        <p>{{ usuario[2] }}</p>
        <input type="checkbox">
    <input type="date" id="fecha_inicio" name="fecha_inicio"  class="ver oculto"  value="{{ usuario[2] }}"><br><br>
    </div>
    






    <div class="etiqueta">
       
    <label for="miembros"># Miembros</label>
    <p>{{ usuario[3] }}</p>
    <input type="checkbox">
    <input type="number" id="miembros" name="miembros" class="ver oculto"  value="{{ usuario[3] }}"><br><br>
</div>






    <div class="etiqueta">
        
    <label for="nombre_miembros">Nombres Miembros</label>
    <p>{{ usuario[4] }}</p>
    <input type="checkbox">
    <textarea id="nombre_miembros" name="nombre_miembros" class="ver oculto"  value="{{ usuario[4] }}"></textarea><br><br>
</div>

    {% block imagen %}
    <img src="https://picsum.photos/70" alt="Logo">
     
    <label for="logo" class="subir">Cambiar foto de perfil</label>
    <input type="file" id="logo" name="logo"><br><br>

    {% endblock %}
    

  
    <button type="submit">Actualizar</button>
</form>
{% endblock %}




{% block nombre %}
{{ usuario[6] }}
{% endblock %}

{% block apellido %}
{{ usuario[7] }}
{% endblock %}
                
{% block correo %}  
{{ usuario[8] }}
{% endblock %}
                
{% block editprofile %}
{% endblock %}