<!DOCTYPE html>
<html>
    <head>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='Js/Editor/src/nice-select.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='Js/Editor/src/range-slider.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='Js/Editor/src/magic-check.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='Js/Editor/src/styles.css') }}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css"/>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
		<!-- Primary Meta Tags -->
		<title>Aglaia Ads: el editor de anuncios alucinantes para todos</title>
		<meta name="title" content="Motionity - The web-based motion graphics editor for everyone">
		<meta name="description" content="Create animated videos for free with Motionity, an open source motion graphics editor with keyframing, masking, filters, text animations, and more. ">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://www.motionity.app/">
		<meta property="og:title" content="Motionity - The web-based motion graphics editor for everyone">
		<meta property="og:description" content="Create animated videos for free with Motionity, an open source motion graphics editor with keyframing, masking, filters, text animations, and more. ">
		<meta property="og:image" content="https://motionity.app/meta.png">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://www.motionity.app/">
		<meta property="twitter:title" content="Motionity - The web-based motion graphics editor for everyone">
		<meta property="twitter:description" content="Create animated videos for free with Motionity, an open source motion graphics editor with keyframing, masking, filters, text animations, and more. ">
		<meta property="twitter:image" content="https://motionity.app/meta.png">
    </head>
    <body draggable="false">
		<div id="disclaimer">	
			<div id="optimized">
				<div id="emoji">🤔</div>
				<div id="opt-title">El editor de Aglaia Ads no está optimizado para dispositivos móviles</div>
				<div id="opt-desc">Es necesario utilizar un ordenador para poder crear animaciones con el editor de Aglaia Ads.</div>
				<a href="https://www.instagram.com/aglaia_ads/" target="_blank" id="opt-button">Instagram Aglaia Ads</a>
			</div>
			<div id="disc-overlay"></div>
		</div>
        <audio controls id="audio-thing">
          <source src="{{ url_for('static', filename='Js/Editor/src/assets/audio.wav') }}" type="audio/wav">
        </audio>
        <input type="file" id="filepick" accept="image/*,video/*,audio/*" multiple>
        <input type="file" id="filepick2" accept="audio/*">
		<input type="file" id="filepick3" accept="application/json">
		<input type="file" id="import" style="display:none" accept='.json' aria-hidden="true" >
		<div id="upload-popup">
			<div id="upload-popup-container">
				<div id="upload-popup-header">
					<div id="upload-popup-title">Subir medios</div>	
					<img id="upload-popup-close" src="{{ url_for('static', filename='Js/Editor/src/assets/close.svg') }}">
				</div>
				<div id="upload-drop-area">
					<div id="upload-drop-group">
						<img src="{{ url_for('static', filename='Js/Editor/src/assets/upload.svg') }}">
						<div id="upload-drop-title">Haga clic para cargar</div>
						<div id="upload-drop-subtitle">O arrastra y suelta un archivo</div>
					</div>
				</div>
				<div id="upload-link">
					<input id="upload-link-input" placeholder="Pegue una imagen de la URL del video">
					<div id="upload-link-add">Agregar</div>
				</div>
			</div>
			<div id="upload-overlay"></div>
		</div>
        <div id="download-modal">
            <p class="header">Descargar configuración</p>
            <p class="subheader">Formatos</p>
            <div id="radio">
              <input class="magic-radio" type="radio" name="radio" id="webm-format" value="webm" checked>
              <label for="webm-format">WEBM video <span>(Más rápido)</span></label>
            	<input class="magic-radio" type="radio" name="radio" value="mp4" id="mp4-format">
              <label for="mp4-format">MP4 video</label>
              <input class="magic-radio" type="radio" name="radio" value="gif" id="gif-format">
              <label for="gif-format">GIF animado</label>
			  <input class="magic-radio" type="radio" name="radio" value="image" id="image-format">
              <label for="image-format">Imagen</label>
            </div>
            <div id="download-real">Descargar</div>
        </div>
		<div id="import-export-modal">
			<p class="header">Importación y exportación</p>
			<p class="subtitle">Guarde este proyecto localmente o cargue uno existente.</p>
			<p class="header-2">Importar un proyecto</p>
			<div id="import-project"><img src="{{ url_for('static', filename='Js/Editor/src/assets/import.svg') }}"> <span>Importación</span></div>
			<p class="header-2">Exportar este proyecto</p>
			<div id="export-project"><img src="{{ url_for('static', filename='Js/Editor/src/assets/download-icon.svg') }}"> <span>Exportación</span></div>
		</div>
        <div id="background-overlay"></div>
        <div id="color-picker"></div>
        <div id="color-picker-fill"></div>
        <div id="toolbar" class="noselect">
			<div id="logo"><img src="{{ url_for('static', filename='Js/Editor/src/assets/logo.svg') }}"></div>
			<div id="tool-wrap">
				<div class="tool" id="upload-tool"><img src="{{ url_for('static', filename='Js/Editor/src/assets/upload.svg') }}"><p>Subidas</p></div>
				<div class="tool tool-active" id="shape-tool"><img src="{{ url_for('static', filename='Js/Editor/src/assets/shape-active.svg') }}"><p>Objetos</p></div>
				<div class="tool" id="image-tool"><img src="{{ url_for('static', filename='Js/Editor/src/assets/image.svg') }}"><p>Imagenes</p></div>
				<div class="tool" id="text-tool"><img src="{{ url_for('static', filename='Js/Editor/src/assets/text.svg') }}"><p>Texto</p></div>
				<div class="tool" id="video-tool"><img src="{{ url_for('static', filename='Js/Editor/src/assets/video.svg') }}"><p>Videos</p></div>
				<div class="tool" id="audio-tool"><img src="{{ url_for('static', filename='Js/Editor/src/assets/audio.svg') }}"><p>Audio</p></div>
				<div class="tool" id="more-tool"><img src="{{ url_for('static', filename='Js/Editor/src/assets/more-hoz.svg') }}"><p>Mas</p></div>
			</div>
		</div>
		<div id="more-over">
			<div id="upload-lottie">
				<img src="{{ url_for('static', filename='Js/Editor/src/assets/upload-grey.svg') }}"> Subir Lottie
			</div>						
			<div id="clear-project">
				<img src="{{ url_for('static', filename='Js/Editor/src/assets/clear.svg') }}"> Borrar proyecto
			</div>
		</div>
		<div id="behind-browser"></div>
        <div id="browser">
            <div id="browser-container">
				<div id="search-fixed"><p class="property-title">Objetos</p><img id="collapse" src="{{ url_for('static', filename='Js/Editor/src/assets/collapse.svg') }}"><div id="browser-search"><input placeholder="Search..."><img src="{{ url_for('static', filename='Js/Editor/src/assets/search.svg') }}" id="search-icon"><img src="{{ url_for('static', filename='Js/Editor/src/assets/delete.svg') }}" id="delete-search"><div id="search-button">Ir</div></div></div><div id="shapes-cont"><p class="row-title">Formas</p><div class="gallery-row" id="shapes-row"></div><p class="row-title">Emojis</p><div class="gallery-row" id="emojis-row"></div></div>
            </div>
        </div>
        <div id="properties">
        <div id="properties-overlay"></div>
        <div id="align" class="align-off">
            <div id="align-v">
                <img class="align" id="align-top" src="{{ url_for('static', filename='Js/Editor/src/assets/align-top.svg') }}" title="Align to the top">
                <img class="align" id="align-center-v" src="{{ url_for('static', filename='Js/Editor/src/assets/align-center-v.svg') }}" title="Align to the center">
                <img class="align" id="align-bottom" src="{{ url_for('static', filename='Js/Editor/src/assets/align-bottom.svg') }}" title="Align to the bottom">
            </div>
            <div id="align-h">
                <img class="align" id="align-left" src="{{ url_for('static', filename='Js/Editor/src/assets/align-left.svg') }}" title="Align to the left">
                <img class="align" id="align-center-h" src="{{ url_for('static', filename='Js/Editor/src/assets/align-center-h.svg') }}" title="Align to the center">
                <img class="align" id="align-right" src="{{ url_for('static', filename='Js/Editor/src/assets/align-right.svg') }}" title="Align to the right">
            </div>
        </div>
        <hr>
        <div id="object-specific">
            <div id="canvas-properties" class="panel-section">
                <p class="property-title">Configuración del lienzo</p>
                <table>
                    <tr>
                        <th class="name-col">Preestablecido</th>
                        <th class="value-col"><select id="preset"><option>Tiro de regate</option><option>Publicación de Facebook</option></select></th>
                    </tr>
                    <tr>
                        <th class="name-col">Tamaño</th>
                        <th class="value-col"><div id="canvas-w" class="property-input" data-label='W'><input min=1 type="number" value=1000></div><div id="canvas-h" class="property-input" data-label='H'><input type="number" value=1000 min=1></div></th>
                    </tr>
                    <tr>
                        <th class="name-col">Color</th>
                        <th class="value-col">
                            <div id="canvas-color">
                                <div id="color-side" class="color-picker"></div>
                                <input value="#FFFFFF" disabled="disabled">
                            </div>
                            <div id="canvas-color-opacity" class="property-input" data-label='%'><input type="number" value=100></div>
                        </th>
                    </tr>
                    <tr>
                        <th class="name-col">Duración</th>
                        <th class="value-col" id="duration-cell"><div id="canvas-duration" class="property-input" data-label='s'><input type="number" value=15.00></div></th>
                    </tr>
                </table>
            </div>
        </div>
        </div>
        <div id="canvas-area">
			<div id="filters-parent">
				<div id="filters">
					<div id="filters-container">
					<div id="filters-header">
						<div id="filters-title">Filtros</div>
						<img src="{{ url_for('static', filename='Js/Editor/src/assets/close.svg') }}" id="filters-close">
					</div>
					<select id="filters-list">
						<option value="none">Sin filtro</option>
						<option value="Invert">Invertir</option>
						<option value="Sepia">Sepia</option>
						<option value="BlackWhite">Blanco y Negro</option>
						<option value="Brownie">Retro</option>
						<option value="Vintage">Antiguo</option>
						<option value="Technicolor">Technicolor</option>
						<option value="Kodachrome">Kodachrome</option>
						<option value="Polaroid">Polaroid</option>
					</select>
					<hr>
					<div id="filters-title">Ajustes</div>
					<div id="reset-filters"><img src="{{ url_for('static', filename='Js/Editor/src/assets/repeat.svg') }}"> Reiniciar</div>
					<div class="filter-row">
						<th class="name-col">Brillo</th>
						<th class="value-col">
							<div id="filter-brightness" class="select-filter"></div>
						</th>
					</div>
					<div class="filter-row">
						<th class="name-col">Contraste</th>
						<th class="value-col">
							<div id="filter-contrast" class="select-filter"></div>
						</th>
					</div>
					<div class="filter-row">
						<th class="name-col">Saturación</th>
						<th class="value-col">
							<div id="filter-saturation" class="select-filter"></div>
						</th>
					</div>
					<div class="filter-row">
						<th class="name-col">Vibrancia</th>
						<th class="value-col">
							<div id="filter-vibrance" class="select-filter"></div>
						</th>
					</div>
							<div class="filter-row">
								<th class="name-col">Matiz</th>
								<th class="value-col">
									<div id="filter-hue" class="select-filter"></div>
								</th>
							</div>
							<hr>
							<div id="filters-title">Clave de croma</div>
							<div class="filter-row">
								<th class="name-col">Estado</th>
								<th class="value-col">
									<div id="status-toggle">
										<div id="status-on" class="status-trigger">Encendido</div>
										<div id="status-off" class="status-trigger status-active">Apagado</div>
									</div>
								</th>
							</div>
							<div class="filter-row" id="filter-color">
								<th class="name-col">Color</th>
								<th class="value-col">
									<div id="chroma-color">
										<div id="color-chroma-side" class="color-picker"></div>
										<input value="#FFFFFF" disabled="disabled">
									</div>
								</th>
							</div>
							<div class="filter-row">
								<th class="name-col">Distancia</th>
								<th class="value-col">
									<div id="chroma-distance" class="select-filter"></div>
								</th>
							</div>
							<hr>
							<div id="filters-title">Estilizar</div>
							<div class="filter-row">
								<th class="name-col">Ruido</th>
								<th class="value-col">
									<div id="filter-noise" class="select-filter"></div>
								</th>
							</div>
							<div class="filter-row" id="blur">
								<th class="name-col">Difuminar</th>
								<th class="value-col">
									<div id="filter-blur" class="select-filter"></div>
								</th>
							</div>
						</div>
					</div>
				</div>
				<div id="top-canvas">
					<div id="undo"><img src="{{ url_for('static', filename='Js/Editor/src/assets/undo.svg') }}"> Deshacer</div>
					<div id="redo"><img src="{{ url_for('static', filename='Js/Editor/src/assets/undo.svg') }}"> Rehacer</div>
					<div id="other-controls">
						<div title="Hand tool (Space bar)" id="hand-tool">
							<img src="{{ url_for('static', filename='Js/Editor/src/assets/hand-tool.svg') }}">
						</div>
						<div id="zoom-level" title="Canvas zoom level"><span>100%</span><img src="{{ url_for('static', filename='Js/Editor/src/assets/arrow.svg') }}"></div>
						<div id="zoom-options" class="zoom-hidden">
							<div class="zoom-options-item" data-zoom="in">Acercarse</div>
							<div class="zoom-options-item" data-zoom="out">Disminuir el zoom</div>
							<div class="zoom-options-item" data-zoom="50">Ampliar al 50%</div>
							<div class="zoom-options-item" data-zoom="100">Ampliar al 100%</div>
							<div class="zoom-options-item" data-zoom="200">Ampliar al 200%</div>
						</div>
					</div>
				</div>
							
				<img src="{{ url_for('static', filename='Js/Editor/src/assets/replace-image.svg') }}" id="replace-image">
				<img src="{{ url_for('static', filename='Js/Editor/src/assets/loading-image.svg') }}" id="load-image" class="load-media">
				<img src="{{ url_for('static', filename='Js/Editor/src/assets/loading-video.svg') }}" id="load-video" class="load-media">
				<canvas id="canvas"></canvas>
			</div>
			<div id="timeline-handle"></div>
			<div id="bottom-area" class="noselect">
				<div id="keyframe-properties">
					<div id="easing">
						<p class="property-title">Facilitación de fotogramas clave</p>
						<select id="easing">
							<option value="linear">Lineal</option>
							<option value="easeInQuad">Facilidad en</option>
							<option value="easeOutQuad">Facilitarse</option>
							<option value="easeinOutQuad">Facilidad de entrada y salida</option>
							<option value="easeOutInQuad">Facilitar la salida</option>
							<option value="easeInBounce">Facilidad en el rebote</option>
							<option value="easeOutBounce">Facilita el rebote</option>
							<option value="easeinOutBounce">Facilita el rebote hacia adentro y hacia afuera</option>w
							<option value="easeOutInBouce">Facilita el rebote hacia afuera</option>
							<option value="easeOutInBouce">Facilita el rebote hacia afuera</option>
							<option value="easeInSine">Facilidad en seno</option>
							<option value="easeOutSine">Aliviar el seno</option>
							<option value="easeinOutSine">Facilitar el seno de entrada y salida</option>
							<option value="easeOutInSine">Facilitar la entrada sinusoidal</option>
							<option value="easeOutInSine">Facilitar la entrada sinusoidal</option>
							<option value="easeInCubic">Facilidad en cúbico</option>
							<option value="easeOutCubic">Facilitar la cúbica</option>
							<option value="easeinOutCubic">Facilidad de entrada cúbica</option>
							<option value="easeOutInCubic">Facilitar la entrada cúbica</option>
							<option value="easeOutInCubic">Facilitar la entrada cúbica</option>
						</select>
					</div>
				</div>
				<div id="nothing"></div>
				<div id="layer-list">
					<div id="layerhead">CAPAS</div>
					<div id="layer-inner-list">
						<img src="{{ url_for('static', filename='Js/Editor/src/assets/nolayers.svg') }}" id="nolayers">
					</div>
				</div>
				<div id="timearea">
					<div id="timeline">
						<div id="seekarea"><div id="inner-seekarea"><div id="seekevents"></div></div><div id="time-numbers" class="noselect"></div><div id="seek-hover"></div><div id="seekbar"></div></div>
						<div id="line-snap"></div>
						<div id="inner-timeline"></div>
					</div>
				</div>
			</div>
			<div style="display:none;"">
				<canvas id="canvasrecord"></canvas>
			</div>
			<div id="controls" class="noselect">
				<img id="timeline-big" src="{{ url_for('static', filename='Js/Editor/src/assets/timeline-big.svg') }}">
				<div id="timeline-zoom"></div>
				<img id="timeline-small" src="{{ url_for('static', filename='Js/Editor/src/assets/timeline-small.svg') }}">
				<div id="speed">
					<div id="speed-settings">
						<div class="speed" data-speed="4">4.0x</div>
						<div class="speed" data-speed="3">3.0x</div>
						<div class="speed" data-speed="2">2.0x</div>
						<div class="speed" data-speed="1.5">1.5x</div>
						<div class="speed" data-speed="1">1.0x</div>
						<div class="speed" data-speed="0.5">0.5x</div>
					</div>
					<img src="{{ url_for('static', filename='Js/Editor/src/assets/zap.svg') }}"> <span>1.0x</span> <img id="speed-arrow" src="{{ url_for('static', filename='Js/Editor/src/assets/arrow.svg') }}">
				</div>
				<div id="playback">
					<div id="current-time">
						<input value="00:00:00" readonly>
					</div>
					<img src="{{ url_for('static', filename='Js/Editor/src/assets/skip.svg') }}" id="skip-backward">
					<img src="{{ url_for('static', filename='Js/Editor/src/assets/play-button.svg') }}" id="play-button">
					<img src="{{ url_for('static', filename='Js/Editor/src/assets/skip.svg') }}" id="skip-forward">
					<div id="total-time">
						<input value="00:00:00" readonly>
					</div>
				</div>
				<div id="controls-right">
					<div id="share"><img src="{{ url_for('static', filename='Js/Editor/src/assets/importexport.svg') }}"> Importación y exportación</div>
					<div id="download"><img src="{{ url_for('static', filename='Js/Editor/src/assets/download-icon.svg') }}"> Descargar</div>
				</div>
			</div>
			<div id="moderationMessage" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); color: white; display: flex; justify-content: center; align-items: center; z-index: 1000;">
				<div style="text-align: center; padding: 20px; background: white; color: black; border-radius: 10px;">
					<p>Por favor, ten en cuenta nuestras reglas de moderación de contenido:</p>
					<ul style="text-align: left;">
						<li>No se permite contenido inapropiado.</li>
						<li>No se permite lenguaje ofensivo.</li>
						<li>No se permite contenido que viole derechos de autor.</li>
						<li>El contenido debe ser respetuoso y adecuado para todas las edades.</li>
					</ul>
					<button onclick="closeModerationMessage()" style="margin-top: 20px;">Aceptar y Continuar</button>
				</div>
			</div>
	
			<div id="image-editor-container"></div>
	
			<script>
				function closeModerationMessage() {
					document.getElementById("moderationMessage").style.display = "none";
				}
	
				// Mostrar el mensaje de moderación al cargar la página
				window.onload = function() {
					document.getElementById("moderationMessage").style.display = "flex";
				};
			</script>
			
			<video id="test-video"></video>
			<input id="emptyInput" value=" " style="opacity:0">
			<script src="{{ url_for('static', filename='Js/Editor/src/js/libraries/localbase.js') }}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.6/lottie.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/@simonwep/selection-js/lib/selection.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="{{ url_for('static', filename='Js/Editor/src/js/libraries/sortable.min.js') }}"></script>
			<script src="{{ url_for('static', filename='Js/Editor/src/js/libraries/range-slider.min.js') }}"></script>
			<script src="{{ url_for('static', filename='Js/Editor/src/js/libraries/jquery.nice-select.min.js') }}"></script>
			<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/460/fabric.min.js"></script>
			<script src="{{ url_for('static', filename='Js/Editor/src/js/libraries/anime.min.js') }}"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
			<script src="{{ url_for('static', filename='Js/Editor/src/js/init.js') }}"></script>
			<script src="{{ url_for('static', filename='Js/Editor/src/js/ui.js') }}"></script>
			<script src="{{ url_for('static', filename='Js/Editor/src/js/align.js') }}"></script>
			<script src="{{ url_for('static', filename='Js\Editor\src\js\converter.js') }}"></script>
			<script src="{{ url_for('static', filename='Js/Editor/src/js/database.js') }}"></script>
			<script src="{{ url_for('static', filename='Js/Editor/src/js/lottie.js') }}"></script>
			<script src="{{ url_for('static', filename='Js/Editor/src/js/text.js') }}"></script>
			<script src="{{ url_for('static', filename='Js/Editor/src/js/recorder.js') }}"></script>
			<script src="{{ url_for('static', filename='Js/Editor/src/js/functions.js') }}"></script>
			<script src="{{ url_for('static', filename='Js/Editor/src/js/events.js') }}"></script>





		</body>
	</html>