<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPS!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/General/Error.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/Logos/Logo.ico') }}">
</head>
<body>
    <div id="container">
        <div id="error-box">
          <div class="shadow move"></div>
          <div class="message"><h1 class="alert">Hola ¿como estás?</h1><p>Te comentamos que tu proyecto en este momento está en revisión, para su respectiva aprobación,asi que mantente atent@.</div>
          <button class="button-box"><h1 class="red">Volver</h1></button>
        </div>
      </div>
      
      <footer>
        <p>Credits to <a href="https://codepen.io/juliepark"> julie</a> ♡
      </footer>

</body>
</html>