<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMPRENDEDORES</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Emprendimiento/IndexEmp.css') }}">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<header class="app-header">
		<span class="logo">AGLAIA</span>
		<div class="toggle-menu" onclick="toggleSidebar()" aria-label="Abrir menú">
			<i class="fa fa-bars"></i>
		  </div>
		<div class="search-bar">
			<input type="text" placeholder="Buscar...">
			<button type="submit"><i class="fas fa-search"></i></button>
		</div>
		
	</header>
	<aside class="app-sidebar">
		<ul class="app-menu">
		  <li class="app-menu__item"><a href="#">Inicio</a></li>
		  <li class="app-menu__item"><a href="#">Editar Perfil</a></li>
		  <li class="app-menu__item"><a href="#">Contacto</a></li>
		  <li class="app-menu__item"><a href="#">Ayuda</a></li>
		</ul>
	  </aside>
	<main>
		<section id="inicio">
			<h2>Bienvenido EMPRENDEDORES</h2>
			<p> ¿Qué es Aglaia?

				Aglaia es tu aliado en línea para llevar tu negocio al siguiente nivel.
				
				¿Para qué sirve Aglaia?
				
				Promociona tus productos o servicios de forma atractiva.
				Conéctate directamente con tus clientes.
				Únete a una comunidad de emprendedores que se apoyan mutuamente.
				¡Haz que tu negocio brille con Aglaia! </p>
		</section>
		<!-- Agrega más secciones aquí -->
	</main>
	<footer>
		<div class="social-media">
			<a href="#"><i class="fab fa-facebook-f"></i></a>
			<a href="#"><i class="fab fa-twitter"></i></a>
			<a href="#"><i class="fab fa-instagram"></i></a>
			<a href="#"><i class="fab fa-linkedin-in"></i></a>
		</div>
		<p class="copyright">Copyright © 2024 AGLAIA. Todos los derechos reservados.</p>
	</footer>
	<script src="script.js"></script>
	<script>
		function toggleSidebar() {
		  document.body.classList.toggle('sidebar-open');
		}
		document.addEventListener('click', function(event) {
		  var sidebar = document.querySelector('.app-sidebar');
		  var toggleMenu = document.querySelector('.toggle-menu');
	
		  if (!sidebar.contains(event.target) && !toggleMenu.contains(event.target)) {
			document.body.classList.remove('sidebar-open');
		  }
		});
	  </script>

</body>
</html>