<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantillas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Emprendimiento/Plantillas.css') }}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="anuncios">
            <div class="anuncio">
                <h5>Viajeeer</h5>
            </div>
            
            <div class="anuncio">
                <h5>Moda</h5>
            </div>
            
            <div class="anuncio">
                <h5>Comida</h5>
            </div>
            
            <div class="anuncio">
                <h5>Tecnología</h5>
            </div>
            
            <div class="anuncio">
                <h5>Fitness</h5>
            </div>
            
            <div class="anuncio">
                <h5>Educación</h5>
            </div>
        </div>
        <div class="plantillas">
            <div class="plantilla"></div>
            <div class="plantilla"></div>
            <div class="plantilla"></div>
            <div class="plantilla"></div>
            <div class="plantilla"></div>
            <div class="plantilla"></div>
            <div class="plantilla"></div>
            <div class="plantilla"></div>
            <div class="plantilla"></div>
        </div>
    </div>
</body>
</html>
