*{
  margin: 0;
padding: 0;
box-sizing: border-box;
color: var(--letra);
}


/* temas */
/* tema claro */
.Claro{
  
	--color-primario: #7a00dc;
	--color-secundario: #2CF8C1;
	--color-fondo: rgb(252, 247, 247);
	--fondo3:rgb(252, 247, 247);
	--letra: #1e1c1b;
	--atras:linear-gradient(to right, var(--color-secundario), var(--color-fondo));
	--fondo2: linear-gradient(to right, var(--color-primario), var(--color-fondo));
	--fondo: linear-gradient(to right, var(--color-secundario), var(--color-fondo));
	--switch:linear-gradient(to right, var(--color-secundario), var(--color-fondo));
	--option:linear-gradient(to right, var(--color-primario), var(--color-fondo));
	--hover:#7a00dc;
  }
/* tema oscuro */

.Oscuro{
	--color-primario: #ff4321;
	--color-secundario: #1e1c1b;
  --fondo3: #1e1c1b;
	--letra: rgb(252, 247, 247);
	--atras:linear-gradient(to right, rgb(252, 247, 247), var(--color-secundario));
	--fondo2: linear-gradient(to right, var(--color-primario), var(--color-secundario));
	--fondo: linear-gradient(to right, rgb(252, 247, 247), var(--color-secundario));
	--switch:linear-gradient(to right, rgb(252, 247, 247), var(--color-secundario));
	--option:linear-gradient(to right, var(--color-primario), var(--color-secundario));
	--hover:#ff4321;
  }


html{
  background: var(--fondo2);
}


.container{
  background: var(--color-primario);
  margin: 10%;
  margin-left: 20%;
  margin-right: 20%;
  padding:8%;
color: var(--letra);
position: relative;
border-radius: 5%;
box-shadow: 7px 8px 5px #0305177b;
z-index: 100;
/* font-family: 'Share Tech'; */
}


#encabezado{
  background: var(--fondo);
  color: aliceblue;
  position: absolute;
  top:0;
  width: 100%;
  height: 15%;
  left: 0;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 7px 8px 6px #0305177b;
  border-top: 30%;
  border-top-left-radius: 8%;
    border-top-right-radius: 8%;
}

/* información */

.info{

  background: var(--fondo);
  width: 38%;
  height: 45%;
  display: flex;
  z-index: 800;
  position: absolute;
  top: 30%;
  right: -10%;
  border-radius: 5%;
  box-shadow: 7px 8px 6px #0305177b;
  justify-content: center;
  align-items: center;
}
#imagenperfil{
  background-color: aqua;
  width: 100%;
  height: 75%;
  position: absolute;
  top:0;
  border-radius: 5%;
  overflow: hidden;
}
#imagenperfil img{
 
  width: 100%;
  height: 95%;
  position: absolute;
  
  object-fit: cover;
}

input[type="file"]{
  display: none;
  
}

.subir{
  display: none;
}

#imagenperfil:hover .subir{
 
  background: var(--fondo3);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  position: absolute;
  /* background-color: var(--color-primario); */
  height: 100%;
  width: 100%;
  top:0;
  opacity:0.5;
  padding:25% ;
  text-align:center;
}

/* .subir{
  
} */


.pieimagen{
  background-color:var(--fondo3);
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  padding: 5%;
}






/* form */

#form{
  margin-top: 8%;
  margin-right: 16%;
 
}


/* form dinamico */


.etiqueta{
  background: var(--fondo3);
  height: 2.5em;
  width: 70%;
  justify-content: center;
  display: flex;
  margin-bottom: 1rem;
align-items: center;
position: relative;
border-radius: 10%;
cursor: pointer;
box-shadow: 7px 8px 6px #0305177b;
}
.oculto {
  display: none;
}

input[type="checkbox"] 
{
cursor: pointer;
appearance: none;
height: 2.5em;
  width: 100%;
  position: absolute;

}
input[type="checkbox"]:checked + .ver{
display: block;
position: absolute;
right: 90%;
background: var(--fondo2);
appearance: none;
height: 2.5em;
border: none;
border-radius: 10%;
box-shadow: 7px 8px 6px #0305177b;
}

.etiqueta p{
  display: none;
}
.etiqueta:hover label 
{
display: none;

}
.etiqueta:hover p{
  display: block;
}





button{
  height: 2.5em;
  width: 70%;
  border:none;
  background: var(--atras);
  cursor: pointer;
  border-radius: 10%;
  box-shadow: 7px 8px 6px #0305177b;
  margin-top:2rem;
}
button:active{
  transform:scale(0.9);
}
button:hover{
  background: var(--hover);
}